<div>{{title}}</div>
<div>
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Photo</th>
            <th>Checkin Time</th>
            <th>Checkout Time</th>
            <th>Rating</th>
            <th>Select Room</th>
        </tr>
        <tr *ngFor="let room of rooms; let e= even; let o=odd; let i=index;" [ngClass]="e?'even':'odd'">
            <!-- <tr *ngFor="let room of roomList | slice : 0:2; let e= even; let o=odd; let i=index;" [ngClass]="e?'even':'odd'"></tr> -->
            <td>{{i | percent}}</td>
            <td>{{ e? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price | currency : 'INR'}}</td>
            <td>{{room.amenities | lowercase}}</td>
            <td><img [src]="room.photo" style="height: 100px;width: 100px;"></td>
            <td>{{room.checkinTime | date}}</td>
            <td>{{room.checkoutTime | date : 'dd/MMM/YYYY'}}</td>
            <td>{{room.rating | number : "1.0-0"}}</td>
            <td><button class="btn-primary" [routerLink]="['/rooms', room.roomNumber]">Book Room</button></td>
            <!-- <td><button class="btn" (click)="selectRoom(room)">Select Room</button></td> -->
        </tr>
    </table>
</div>