<!-- <h1>Hello Boss</h1> -->
<!-- <div #name></div> -->

<!-- <pbhinv-rooms></pbhinv-rooms>
<pbhinv-employee></pbhinv-employee> -->
<!-- <pbhinv-container>
  <pbhinv-rooms></pbhinv-rooms>
  <pbhinv-employee></pbhinv-employee>
  <h1 style="background-color: aqua;">This is from ng container</h1>
</pbhinv-container> -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welocme User!
  </div>
  <div *ngSwitchCase="'Admin'">
    <pbhinv-rooms></pbhinv-rooms>
  </div>
  <div *ngSwitchDefault>
    You are not authorized!
  </div>
</div> -->

<!-- <ng-template #room></ng-template> -->

<router-outlet></router-outlet>